body {
    margin: 1em auto;
    max-width: 50em;
    padding: 0 .5em;
    line-height: 1.5em;
    font-size: 11pt;
    font-family: Helvetica, sans-serif;
}

html {
    overflow-y: scroll;
}

h1 {
    font-size: 2em;
    font-variant: small-caps;
    font-weight: bold;
}

h2 {
    font-size: 1.5em;
    font-variant: small-caps;
    font-weight: bold;
    margin-top: 1em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 0.5em;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 1em;
}

nav ul :last-child {
    margin-right: 0;
}

header > aside {
    float: right;
    text-align: right;
    font-size: small;
    color: #6e787e;
}

header {
    margin-bottom: 3em;
}

footer {
    color: #6e787e;
    font-size: small;
    margin-top: 3em;
}

nav {
    clear: both;
}

a {
    color: #29559f;
    font-weight: bold;
    text-decoration: none;
}

footer a {
    font-weight: normal;
}

a:hover {
    color: #316fc9;
}

a:focus {
    outline: none;
}

article img {
    width: 100%;
}

article .small-fig {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20em;
    max-width: 100%;
}

#logo {
    width: 30em;
    max-width: 100%;
    float: left;
}

.percentage {
    font-family: monospace;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

div.badge
{
    width: 10em;
    height: 0.5em;
    border-radius: 1em;
    -moz-border-radius: 1em;
    margin-left: auto;
    margin-right: auto;
}

div.side-badge
{
    display: inline-block;
    width: 1.2em;
    height: .6em;
    border-radius: 1em;
    -moz-border-radius: 1em;
}

figure {
    padding: 0;
    margin: 0;
}

figcaption {
    text-align: center;
    font-weight: normal;
    font-style: italic;
}

/* Table common */

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

table th {
    border-bottom: 2px solid #555555;
    text-align: center;
    font-weight: normal;
    font-style: italic;
    padding: 0 1em;
}

table .pre-header th {
    border-bottom: 0;
}

table > :last-child {
    border-bottom: 2px solid #555555;
}

table td.column-candidate {
    width: 13em;
}

table td.column-percent {
    padding: 0 1em;
    margin: 0;
    text-align: center;
}

/* Table total */

table#table-total td {
    height: 3em;
    line-height: 1.2em;
}

/* Table duos */

table#table-duos td.column-1 {
    border-bottom: solid 1px #555555;
    width: 6em;
}

table#table-duos td.column-2 {
    height: 1em;
}

table#table-duos td.inner-top {
    padding-top: .5em;
}

table#table-duos td.inner-bottom {
    padding-bottom: .5em;
    border-bottom: solid 1px #555555;
}
/* Table individuals */
table#table-individuals td {
    height: 1em;
    line-height: 1.5em;
}

table#table-individuals td.column-1 {
    padding: 0 1em;
}
